---
export interface Props {
	light: boolean;
}

import BubbleButton from './BubbleButton.astro';
import Button from './Button.astro';
import LinkedInLogo from './company-logos/LinkedInLogo.astro';
import Logo from './Logo.astro';

const { light } = Astro.props;
---

<div class="container">
	<div class="logo-container">
		<Logo light={light}></Logo>
	</div>
	<main>
		<p class="instructions">
			Check out the <code>src/pages</code> directory to get started.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<!-- TODO move this into own component -->
		<div class="bubble-button-behind-button-container">
			<div class="bubble-button-behind-button-item">
				<BubbleButton 
					text="" 
					id={(light ? 'light' : 'dark') + '-linkedin'} 
					light={light} 
					containerTargetId={(light ? 'light' : 'dark') + '-linkedin-logo-container'}
				/>
			</div>
			<div class="bubble-button-behind-button-item unbubble-item" id={(light ? 'light' : 'dark') + '-linkedin-logo-container'}>
				<Button href="https://www.google.com" light={light}>
					<LinkedInLogo light={light}></LinkedInLogo>
				</Button>
			</div>
		</div>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<BubbleButton text="portfolio" id={(light ? 'light' : 'dark') + '-portfolio'} light={light} />
		<BubbleButton text="about" id={(light ? 'light' : 'dark') + '-about'} light={light} />
	</main>
	<div class="footer-container">
		Footer here.
	</div>
</div>

<style lang="scss"> 
	@import "../styles/global";

	.bubble-button-behind-button-container {
		position: relative;
		.bubble-button-behind-button-item {
			position: absolute;
			z-index: 2;
		}
		.unbubble-item {
			top: 50px;
			left: 105px;
			transition: color .8s ease;
		}
	}
	
	.container {
		margin: auto;
		padding: 2em;
		max-width: 60ch;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.logo-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: stretch;
			width: 100%;
			flex: 1 1 100px;
		}
		main {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.footer-container {

		}
	}

	h1 {
		margin: 2rem 0;
	}

	.text-gradient {
		font-weight: 900;
		background-image: linear-gradient(0deg, $color-light-1, $color-accent-2);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
</style>
